*.log
*.zip
*.tar
*.mp4
*.pth
__pycache__/
*.pyc
*.pyo
debug/
bert-base-uncased/
data/
data_s/
data(20news)/
experiments/*
!experiments/text_reasoning/results/
experiments_s/*
!experiments_s/text_reasoning/results/
experiments_20news/*
!experiments_20news/text_reasoning/results/